.c1{
color: #0f0;
}

.c2{
background: #000;
}


 .gray-border {  border: 1px solid gray; }
    .blue   { color: blue; }
    .green  { color: green; }
    .purple { color: purple; }
    .active { background-color: #f55; }